.board{
    align-self: center;
    &__row{
        display: flex;
    }
    &--mod{
        color:green
    }
    &--mod &{
       &__element{
           color:cyan;
       }
       
       color:green
   }
}