@import "./variables.style.scss";

.cell{
    position: relative;
    width: $cell-width;
    height: $cell-heigth;
    &--black{
        background-color :#BA7A3A;
    }

    &--white{
        background-color:#F0D2B4;
    }

    &_checker{
        top:10px;
        left:10px;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        position: absolute;
        border: 4px solid white;
        cursor: pointer;	

        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;

        &--black{
            background: #00001F;
        }
    
        &--white{ 
            background: #CC0000;
        }
    }
}